body{
    background-color: #555;
    color: #555;
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin:0;
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}
#main-header{
    background-color:coral;
    color: whitesmoke;
    text-align: center;
}
#navbar{
    background-color: grey;
    color: ghostwhite;
    text-align: center;
}
#navbar ul{
    padding:0;
    list-style-type:none;
}
#navbar li{
    display:inline;
    text-align: center;
    
}
#navbar a{
    color: ghostwhite;
    text-decoration: none;
    font-size: 10;
    padding-right: 15px;
}
#showcase{
    background-image:url('../images/parkingsonbuilding.jpg');
    background-position:center;
    background-repeat:no-repeat;
    height:600px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:80%;


    color: ghostwhite;
    font-size:20px;
    text-align: center;
}
#main-footer{
	background: #333;
	color: #fff;
	text-align: centre;
	padding: 10px;
	margin-top: 0px;
}

